stack:
  name: apps
  series: raring
  ppa: ubuntu-unity/daily-build-next
  dest: ubuntu-unity/next
  extracheck: False    # Set to True to enable additional check step
  #schedule: 0 5 * * 1-5
  dependencies:
    - platform
  projects:
  to_transition:
    gallery-app:
