stack:
  name: unity
  series: saucy
  series-version: '14.04'
  ppa: ubuntu-unity/daily-build-next
  dest: ubuntu-unity/next
  extracheck: autopilot-saucy-daily_release
  ci_default:
    contact_email: "francis.ginther@canonical.com"
    team: PS-QA
    autolanding_template: mbs-autolanding-config.xml.tmpl
    rebuild_template: mbs-rebuild-config.xml.tmpl
    hooks: H05set_package_version D00mbs_archive
    hook_source: lp:~private-ps-quality-team/+junk/unity-hooks
    configurations:
      saucy-amd64:
        template: mbs-pbuilder-config.xml.tmpl
        node_label: pbuilder
      saucy-i386:
        template: mbs-pbuilder-config.xml.tmpl
        node_label: pbuilder
      saucy-armhf:
        template: mbs-pbuilder-config.xml.tmpl
        node_label: calxeda-pbuilder
        publish_coverage: False
    local_archive_name: head.unity
    local_archive_host: naartjie
    local_archive_login: ubuntu
    local_archive_tmp: /home/ubuntu/local-archive
    local_archive_source: http://naartjie/archive/
    local_archive_pocket: saucy
  test_parameters:
    apmachines: autopilot-intel qa-nvidia-gtx660
    packages: libupstart1 indicator-keyboard ibus-anthy anthy anthy-common libanthy0 python-wadllib python-simplejson python-secretstorage python-paramiko python-oauth python-lazr.uri python-lazr.restfulclient python-launchpadlib python-keyring libjs-jquery unity-scopes-runner libnux-4.0-0 libdecoration0 libunity-misc4 libdee-1.0-4 compiz unity-lens-photos compiz-gnome unity-lens-video unity-lens-files compiz-core unity nux-tools unity-scope-musicstores gir1.2-dee-1.0 libnux-4.0-common libunity-scopes-json-def-desktop gir1.2-unity-5.0 unity-lens-friends unity-lens-applications unity-lens-music unity-services libunity-core-6.0-8 unity-asset-pool libunity-protocol-private0 libunity9 unity-scope-video-remote unity-scope-gdrive compiz-plugins-default libcompizconfig0 unity-scope-audacious unity-scope-chromiumbookmarks unity-scope-calculator unity-scope-clementine unity-scope-colourlovers unity-scope-devhelp unity-scope-firefoxbookmarks unity-scope-gmusicbrowser unity-scope-gourmet unity-scope-guayadeque unity-scope-home unity-scope-launchpad unity-scope-manpages unity-scope-musique unity-scope-openclipart unity-scope-sshsearch unity-scope-texdoc unity-scope-tomboy unity-scope-virtualbox unity-scope-yelp unity-scope-zotero unity-scopes-master-default accountsservice libaccountsservice0 libcolumbus1 libcolumbus1-common
    testpackages: python-autopilot autopilot-desktop recordmydesktop unity-autopilot
    tests: unity
  dependencies:
    - platform
    - indicators
    - oif
    - webapp
    - webcred
    - qa
    - hud
#    - media # Uncomment once unity-scope-mediascanner is ready to land
  projects:
    compiz:
      target_branch: lp:compiz/0.9.11
      build_timeout: 240
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
      publish_junit: '**/results/*test*xml'
      autolanding:
        hooks: H05set_package_version D00mbs_archive B09googletests_cmake H15enable_testing D10install_google_test H10enable_coverage B10gcovr_run D10install_lcov
        configurations:
          saucy-armhf:
            hooks: H05set_package_version D00mbs_archive B09googletests_cmake H15enable_testing D10install_google_test
      ci:
        hooks: D00mbs_archive H15enable_testing D10install_google_test H10enable_coverage B10gcovr_run D10install_lcov B09googletests_cmake
        configurations:
          saucy-armhf:
            hooks: D00mbs_archive H15enable_testing D10install_google_test B09googletests_cmake D10install_valgrind
    libunity:
    libunity-misc:
    nux:
      hooks: H05set_package_version D00mbs_archive B09googletests B09copy_results H10enable_coverage B10gcovr_run D10install_lcov
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
      publish_junit: '**/results/*test*xml'
      configurations:
        saucy-armhf:
          hooks: H05set_package_version D00mbs_archive B09googletests B09copy_results
    unity:
      build_timeout: 240
      hooks: H05set_package_version D00mbs_archive D10install_google_test H10enable_coverage B10gcovr_run B09googletests B09copy_results
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
      publish_junit: '**/results/*test*xml'
      configurations:
        saucy-armhf:
          hooks: H05set_package_version D00mbs_archive D10install_google_test B09googletests B09copy_results
    unity-asset-pool:
    unity-lens-applications:
      hooks: H05set_package_version D00mbs_archive B09copy_results H10enable_coverage B10gcovr_run D10install_lcov
      configurations:
        saucy-armhf:
          hooks: H05set_package_version D00mbs_archive B09copy_results
          archive_artifacts: False
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
    unity-lens-files:
    unity-lens-friends:
    unity-lens-music:
      hooks: H05set_package_version D00mbs_archive B09copy_results H10enable_coverage B10gcovr_run D10install_lcov
      configurations:
        saucy-armhf:
          hooks: H05set_package_version D00mbs_archive B09copy_results
          archive_artifacts: False
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
    unity-lens-photos:
    unity-lens-video:
      hooks: H05set_package_version D00mbs_archive B09copy_results H10enable_coverage B10gcovr_run D10install_lcov
      configurations:
        saucy-armhf:
          hooks: H05set_package_version D00mbs_archive B09copy_results
          archive_artifacts: False
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
    unity-scope-audacious:
    unity-scope-chromiumbookmarks:
    unity-scope-calculator:
    unity-scope-clementine:
    unity-scope-colourlovers:
    unity-scope-devhelp:
    unity-scope-firefoxbookmarks:
    unity-scope-gdrive:
    unity-scope-gmusicbrowser:
    unity-scope-gourmet:
    unity-scope-guayadeque:
    unity-scope-home:
      hooks: D00mbs_archive H05set_package_version H10enable_coverage B10gcovr_run D10install_lcov
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
    unity-scope-launchpad:
    unity-scope-manpages:
    unity-scope-mediascanner:
    unity-scope-musique:
    unity-scope-onlinemusic:
    unity-scope-openclipart:
    unity-scope-sshsearch:
    unity-scope-texdoc:
    unity-scope-tomboy:
    unity-scope-virtualbox:
    unity-scope-yelp:
    unity-scope-zotero:
