<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run test on common architecture (i386)</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -eu
export LANG=en_US.UTF-8
WRKDIR={{ BASEDIR }}/work/{{ release }}/{{ stack }}
OPTS="{{ opts }}"

cd $WRKDIR

echo "Removing skip file (initial cleaning)"
rm -f /tmp/autopilot.{{ stack }}.skip
if [ -z "$(ls $WRKDIR/*.project 2&gt;/dev/null)" -a "$CHECK_WITH_WHOLE_PPA" != "true" ]; then
    echo "No new source uploaded to PPA and CHECK_WITH_WHOLE_PPA is not set.  Skipping check!"
    echo "&lt;testsuite errors='0' failures='0' name='' tests='1' time='0.001'&gt;&lt;testcase classname='notest.skip' name='skipped' time='0.001'/&gt;&lt;/testsuite&gt;" &gt; /tmp/autopilot.{{ stack }}.skip
    exit 0
fi

{{ BINDIR }}/watch-ppa $OPTS

</command>
    </hudson.tasks.Shell>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder>
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>{{ checkparameters }}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>{{ extracheck }}</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
            </buildStepFailureThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -u

if [ -e /tmp/autopilot.{{ stack }}.skip ]; then
    echo "Removing Skip file"
    rm /tmp/autopilot.{{ stack }}.skip
    exit 0
fi

JOBROOT={{ extracheck }}

for card in ati intel nvidia; do
    echo &quot;Calculating results for card $card&quot;
    JUNIT=$({{ BINDIR }}/latest_autopilot_results $JOBROOT $card)
    RET=$?

    if [ $RET -gt 0 ]; then
        echo &quot;Failed to find junit results for latest run, exiting!&quot;
        exit $RET
    fi

    AUTOPILOTRC={{ BASEDIR }}/history/{{ release }}/{{ stack }}.autopilotrc
    [ ! -e "$AUTOPILOTRC" ] &amp;&amp; AUTOPILOTRC={{ BASEDIR }}/default.autopilotrc
    {{ BINDIR }}/cu2d-autopilot-report -C $AUTOPILOTRC $JUNIT $card
    RET=$?

    if [ $RET -gt 0 ]; then
        echo &quot;Tests for card &apos;$card&apos; failed!&quot;
        exit $RET
    fi
done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.build__publisher.BuildPublisher>
      <publishUnstableBuilds>true</publishUnstableBuilds>
      <publishFailedBuilds>true</publishFailedBuilds>
      <postActions class="vector"/>
    </hudson.plugins.build__publisher.BuildPublisher>
  </publishers>
  <buildWrappers/>
</project>
