<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Prepare PPA for project {{ projectname }}</description>
  <logRotator>
    <daysToKeep>15</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -e
export LANG=en_US.UTF-8
export WORKSPACE="$PWD"
WRKDIR={{ BASEDIR }}/work/{{ release }}/{{ stack }}
OPTS="{{ opts }}"

# don't rebuild the stack
if [ "$CHECK_WITH_WHOLE_PPA" = "true" ]; then
    cp $WRKDIR/*_{{ projectname }}.xml $WORKSPACE/
    exit 0
fi

if [ -n "$REBUILD_ONLY" ]; then
    DO_REBUILD=0
    for prj in $REBUILD_ONLY; do
        [ "$prj" = "{{ projectname }}" ] &amp;&amp; DO_REBUILD=1
    done
    if [ $DO_REBUILD -eq 0 ]; then
        cp $WRKDIR/*_{{ projectname }}.xml $WORKSPACE/
        exit 0
    fi
fi

# WS Clean-up
rm -f *xml

cd $WRKDIR
rm -Rf {{ projectname }}.project {{ projectname }}_* *_{{ projectname }}_* {{ projectname }} ubuntu/{{ projectname }} || true
{{ BINDIR }}/prepare-package $OPTS
RC=$?

cp -a *_{{ projectname }}.xml $WORKSPACE/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*xml</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.build__publisher.BuildPublisher>
      <publishUnstableBuilds>true</publishUnstableBuilds>
      <publishFailedBuilds>true</publishFailedBuilds>
      <postActions class="vector"/>
    </hudson.plugins.build__publisher.BuildPublisher>
  </publishers>
  <buildWrappers/>
</project>
