<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Publish to the archive</description>
  <logRotator>
    <daysToKeep>15</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>Koh9xumayie3Eet8rooh4guniratae2b</authToken>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -eu
export WORKSPACE="$PWD"
# Cleanup workspace
rm -f *

export LANG=en_US.UTF-8
WRKDIR={{ BASEDIR }}/work/{{ release }}/{{ stack }}
OUTDIR={{ BASEDIR }}/out/

OPTS="{{ opts }}"
FORCE_PUBLICATION=${FORCE_PUBLICATION-false}
[ "$FORCE_PUBLICATION" = "true" ] &amp;&amp; OPTS="$OPTS -f"

cd $WRKDIR
{{ BINDIR }}/publisher $OPTS
RC=$?

cp *diff publisher.xml packagelist* $WORKSPACE/ 2&gt;/dev/null || true
mkdir -p $OUTDIR
mv packagelist_rsync_* $OUTDIR 2&gt;/dev/null || true
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.diff,*xml,packagelist*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.build__publisher.BuildPublisher>
      <publishUnstableBuilds>true</publishUnstableBuilds>
      <publishFailedBuilds>true</publishFailedBuilds>
      <postActions class="vector"/>
    </hudson.plugins.build__publisher.BuildPublisher>
  </publishers>
  <buildWrappers/>
</project>
