stack:
  name: unity
  series: saucy
  #ppa: ubuntu-unity/daily-build-next
  #dest: ubuntu-unity/next
  #extracheck: ps-generic-autopilot-release-testing
  #schedule: 0 4 * * 1-5
  ci_default:
    configurations:
      saucy-amd64:
        node_label: pbuilder
      saucy-i386:
        node_label: pbuilder
      saucy-armhf:
        node_label: calxeda-pbuilder
  projects:
    compiz:
      daily-release: False
      hook_source: lp:~private-ps-quality-team/+junk/unity-hooks
      build_timeout: 240
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
      publish_junit: '**/results/*test*xml'
      autolanding:
        hooks: B09googletests_cmake H15enable_testing D10install_google_test H10enable_coverage B10gcovr_run D10install_lcov
        configurations:
          saucy-armhf:
            hooks: B09googletests_cmake H15enable_testing D10install_google_test
            publish_coverage: False
      ci:
        hooks: H15enable_testing D10install_google_test H10enable_coverage B10gcovr_run D10install_lcov B09googletests_cmake
        configurations:
          saucy-armhf:
            hooks: H15enable_testing D10install_google_test B09googletests_cmake D10install_valgrind
            publish_coverage: False
    unity-scope-imdb:
      daily-release: False
    unity-scope-ebay:
      daily_release: False
    unity-scope-etsy:
      daily_release: False
    unity-scope-recipepuppy:
      daily_release: False
    unity-scope-songkick:
      daily_release: False
    unity-scope-europeana:
      daily_release: False
    unity-scope-grooveshark:
      daily_release: False
    unity-scope-foursquare:
      daily_release: False
    unity-scope-stackexchange:
      daily_release: False
    unity-scope-nullege:
      daily_release: False
    unity-scope-ubuntushop:
      daily_release: False
    unity-scope-songsterr:
      daily_release: False
    unity-scope-reddit:
      daily_release: False
    unity-scope-yelpplaces:
      daily_release: False
    unity-scope-askubuntu:
      daily_release: False
    unity-scope-dribbble:
      daily_release: False
    unity-scope-wikispecies:
      daily_release: False
    unity-scope-jstor:
      daily_release: False
    unity-scope-pubmed:
      daily_release: False
    unity-scope-googlescholar:
      daily_release: False
    unity-scope-sciencedirect:
      daily_release: False
    unity-scope-themoviedb:
      daily-release: False
    unity-scope-soundcloud:
        daily-release: False
    unity-scope-deviantart:
        daily-release: False
    unity-scope-googlenews:
        daily-release: False
    unity-scope-yahoostock:
        daily-release: False
    unity-scope-googlebooks:
        daily-release: False
    unity-scope-github:
        daily-release: False
    compiz-0.9.10:
      daily_release: False # remember we don't want to land compiz trunk before activating this one
      target_branch: lp:~compiz-team/compiz/0.9.10
      hook_source: lp:~private-ps-quality-team/+junk/unity-hooks
      build_timeout: 240
      archive_artifacts: '**/results/**'
      publish_coverage: '**/results/coverage.xml'
      publish_junit: '**/results/*test*xml'
      hooks: B09googletests_cmake H15enable_testing D10install_google_test H10enable_coverage B10gcovr_run D10install_lcov
      configurations:
        saucy-armhf:
          hooks: B09googletests_cmake H15enable_testing D10install_google_test
          publish_coverage: False
